body
{
    color: black;
    text-align: left;
    font-family: "Trajan Pro";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#cabecera {

    background: rgb(68, 68, 160);
    color: white;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

    -webkit-box-shadow: 0px 16px 44px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 16px 44px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 16px 44px -9px rgba(0,0,0,0.75);
}


#cabecera #tagline {
padding: 0 0 0 1em;
color: white;
font-weight: normal;
font-size: 0.8em;

}



#container {
    width: 70%;
    margin-left: 180px;
    padding: 0;
    text-align: center;
    border: 1px solid blue;
}

#post {
    padding: 1em;



}